#Database:
POSTGRES_DB=postgre_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgre_mdp
POSTGRES_HOST=postgre_db
POSTGRES_PORT=5432


#Django:
DJANGO_SUPERUSER_USERNAME=superusername_example
DJANGO_SUPERUSER_PASSWORD=superusername_password
DJANGO_SUPERUSER_EMAIL=superusername@email.com
DJANGO_SECRET_KEY=secret_key
DEBUG=1
ALLOWED_HOSTS=localhost


#Container name for the Makefile:
DOCKER_COMPOSE = docker compose


#For 42 intra connections:
FORTYTWO_CLIENT_SECRET=s-s4t2ud-example
