#Database:
POSTGRES_DB=postgres_name
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=postgres_host
POSTGRES_PORT=postgres_port


#Django:
DJANGO_SUPERUSER_USERNAME=superusername_example
DJANGO_SUPERUSER_PASSWORD=superusername_password
DJANGO_SUPERUSER_EMAIL=superusername@email.com
DJANGO_SECRET_KEY=secret_key
DEBUG=1
ALLOWED_HOSTS=allowed_host


#Container name for the Makefile:
DOCKER_COMPOSE = docker compose


#For 42 intra connections:
FORTYTWO_CLIENT_UID=u-s4t2ud-example
FORTYTWO_CLIENT_SECRET=s-s4t2ud-example