version: '3.8'

services:
  db:
    image: postgres:15
    container_name: db
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend         
    container_name: backend
    volumes:
      - ./backend:/app
      #- ./backend/staticfiles:/app/staticfiles
      #- static_volume:/app/staticfiles
    env_file: .env
    depends_on:
      - db

  frontend:
    build: ./frontend           
    container_name: frontend
    volumes:
      - ./frontend:/app
    ports:
      - "8080:80"

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "8443:443"
    volumes:
      - ./frontend:/var/www/html 
      - ./backend/staticfiles:/var/www/static:ro
      #- static_volume:/var/www/static:ro
    depends_on:
      - backend

volumes:
  postgres_data:
  static_volume: